# Ignore everything
*

# Allow directories so Git can scan inside them
!*/

# Whitelist root files
!README.md
!main.py
!main_lagacy.py
!test.py
!Project_Diagram.drawio
!definitions.py
!struct.txt
!backbone.txt
!BlenderCode.py

## Whitelist image files
!rendered-img-1.png
!rendered-img-2.png

# Whitelist a directory and its contents
